.navbar .brand .logo {
  background: url(../img/fisl.png) left 50% no-repeat;
  padding-left: 30px;
}

.footer {
  border-top: 1px solid #e5e5e5;
  margin-top: 30px;
  padding-top: 20px;
}

.paper, .no-results-found {
  margin-top: 20px;
}
