<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= 'WSL ' + paper['year'] + ' - ' + paper['title'] %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="O Workshop de Software Livre (WSL) é um evento acadêmico e científico de periodicidade anual que integra o Fórum Internacional Software Livre (FISL) e ocorre desde 2000 em Porto Alegre, no estado do Rio Grande do Sul, Brasil. O WSL encoraja a submissão de trabalhos que façam pesquisa sobre o ecossistema do software livre, oferecendo a oportunidade para que professores, pesquisadores, estudantes e demais profissionais apresentem trabalhos de cunho científico desenvolvidos em seus centros de pesquisa, empresas ou universidades, que usem, produzam, compartilhem, divulguem e/ou pensem o software livre.">
    <meta name="author" content="<%= paper['authors'].map { |a| a['name'] }.join(', ') %>">

    <!-- Le styles -->
    <link href="<%= root %>/assets/css/bootstrap.css" rel="stylesheet">
    <link href="<%= root %>/assets/css/wsl.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="<%= root %>/assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="<%= root %>/assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="<%= root %>/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="<%= root %>/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="<%= root %>/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="<%= root %>/assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="<%= root %>"><span class='logo'></span></a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="<%= root %>"><i class='icon-home icon-white'></i> Home</a></li>
              <li class='dropdown'>
              <a href="#" class='dropdown-toggle' data-toggle='dropdown'><i class='icon-book icon-white'></i> Editions <b class='caret'></b></a>
                <ul class='dropdown-menu'>
                  <% YEARS.reverse.each do |year| %>
                    <li><a href='<%= root %>/<%= year %>/'>WSL <%= year %></a></li>
                  <% end %>
                </ul>
               <li><a href="<%= root %>/search/"><i class='icon-search icon-white'></i> Search</a></li>
              </li>
              <li><a href="http://softwarelivre.org/wsl"><i class='icon-user icon-white'></i> Community</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

    <div class='row'>

        <h1><%= paper['title'] %> (<a href="../">WSL <%= paper['year'] %></a>)</h1>
        <div class='papers span8'>
        <dl>
          <dt>Authors</dt>
          <dd>
          <table>
            <tr>
              <% paper['authors'].each do |author| %>
                <tr>
                  <td><%= author['name'] %> (<%= author['institution'] %>)</td>
                  <td>
                    <a href="https://orcid.org/orcid-search/quick-search?searchQuery=<%= author['name'] %>" title="Search for <%= author['name'] %> in ORCID" target="_blank"><img src="<%= root %>/assets/img/orcid.png" /></a>
                    <a href="http://dblp.uni-trier.de/search/author?q=<%= author['name'] %>" title="Search for <%= author['name'] %> in DBLP" target="_blank"><img src="<%= root %>/assets/img/dblp.png" /></a>
                    <a href="https://scholar.google.com.br/citations?view_op=search_authors&mauthors=<%= author['name'] %>" title="Search for <%= author['name'] %> in Google Scholar" target="_blank"><img src="<%= root %>/assets/img/google-scholar.png" /></a>
                  </td>
                </tr>
              <% end %>
          </table>
          </dd>
          <p />
          <dt>Abstract</dt>
          <dd>
            <blockquote class='abstract' style="text-align:justify;"><%= paper['abstract'] %></blockquote>
          </dd>
        </dl>
        <p>
          <a rel="nofollow" class='btn btn-mini btn-success' href="download/"><i class='icon-download icon-white'></i> Download paper (PDF)</a>
          <% if paper['software'] %>
          <a rel="nofollow" class='btn btn-mini btn-info' href="software/"><i class='icon-download icon-white'></i> Download software (source code)</a>
          <% end %>
        </p>
      </div>
      <div class='span4'>
        <p><dt>Share</dt></p>
        <!-- AddToAny BEGIN -->
        <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
          <a class="a2a_dd" href="https://www.addtoany.com/share_save"></a>
          <a class="a2a_button_mendeley"></a>
          <a class="a2a_button_diaspora"></a>
          <a class="a2a_button_facebook"></a>
          <a class="a2a_button_twitter"></a>
          <a class="a2a_button_email"></a>
        </div>
        <!-- AddToAny END -->
        <p><dt>Metrics</dt></p>
        <p>Citations: <a id="citations" href="" target="_blank">by Google Scholar</a></p>
      </div>
    </div>

      <footer class='footer'>
      <p>
      Copyright © 2012–<%= Date.today.year %> - Associação Software Livre.Org. <a href="https://gitlab.com/wsl/wsl-repository">Source code</a> is licensed under the terms of <a href="http://www.gnu.org/licenses/gpl.html">GNU GPL version 3</a>.
      <p/>
      <p>
        The copyright of each paper available in the repository is owned by
        their respective authors under the terms of Creative Commons
        <a href="http://creativecommons.org/licenses/by-nd/3.0/">Attribution-NoDerivs 3.0 Unported (CC BY-ND 3.0)</a>
        license.
      </p>
      </footer>
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="<%= root %>/assets/js/jquery.min.js"></script>
    <script src="<%= root %>/assets/js/bootstrap.min.js"></script>
    <script src="<%= root %>/assets/js/wsl.js"></script>
    <script type="text/javascript" src="http://static.addtoany.com/menu/page.js"></script>

    <!-- Sidebar -->
    <script type="text/javascript">
      var currentUrl = window.location.href.replace('index.html', '');

      // Citations
      var citationslink = document.getElementById("citations");

      citationslink.href = "https://scholar.google.com.br/scholar?cites=" + currentUrl + "<%= paper['file'] %>";
    </script>
    <!-- End Sidebar -->
    <%= analytics %>
  </body>
</html>
